.rate{
    font-size: 130%;
    font-style: normal;
}
ul{
   padding-left: 10%;
}
img{
    border-radius: 5px;
}

.con{
    padding: 5px;
}
.nav{
    text-decoration: none;
}

hr{
  
    background-color: white;
}

.txt{
    margin-left: 5px;
}
.discount{
    color: green;
}
.cut{
    color: grey;
}
.pocket-verified{
    color: darkblue;
}
p{
    font-size: small;
}
.page-banner{
    height: 10rem;
    
    
}
.banner-text{
    margin-top: -8rem;
    padding-left: 2rem;
    font-size: 400%;
}
@media screen and (max-width: 500px) {
    .banner-text{
        margin-top: -6rem;
        padding-left: 1rem;
        font-size: 200%;
    }
    .pack-name{
        font-size: 110%;
    }
    .rate{
        font-size: 100%;
        font-style: normal;
    }
    .high{
        padding-top: 5px;
        font-size: 80%;
    }
    .item-price{
        font-size: 120%;
    }
    .item-discount{
        color: green;
        font-size: 80%;
    }
    .pocket-verified{
        color: darkblue;
        font-size: 85%;
    }
  }
  .tdn{
      text-decoration: none !important;
      color:black;
    }
    .tdn :hover{
        color: black;
    }
  .filter{
      margin: 5% ; 
      padding: 5%;
  }
  .sort{
    margin: 5% ; 
    padding: 5%;
}

